accelerate==0.27.2
aiobotocore==2.5.0
aiofiles==22.1.0
aiohttp==3.8.5
aioitertools==0.7.1
aiosignal==1.2.0
aiosqlite==0.18.0
alabaster==0.7.12
annotated-types==0.6.0
anyascii==0.3.2
anyio==3.5.0
appdirs==1.4.4
appnope==0.1.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.7.2
astroid==2.14.2
astropy==5.1
asttokens==2.4.1
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==23.2.0
autobahn==23.6.2
Automat==20.2.0
autopep8==1.6.0
Babel==2.11.0
backcall==0.2.0
backports.functools-lru-cache==1.6.4
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt==3.2.0
beautifulsoup4==4.12.2
binaryornot==0.4.4
black==24.3.0
bleach==4.1.0
bokeh==3.2.1
boltons==23.0.0
boto3==1.34.69
botocore==1.34.69
Bottleneck==1.3.5
brotlipy==0.7.0
certifi==2023.7.22
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.4
cloudpickle==2.2.1
clyent==1.2.1
colorama==0.4.6
colorcet==3.0.1
comm==0.1.2
constantly==15.1.0
contourpy==1.0.5
cookiecutter==1.7.3
cryptography==42.0.5
cssselect==1.1.0
cycler==0.11.0
daphne==4.1.0
dask==2023.6.0
dataclasses-json==0.6.4
datasets==2.12.0
datashader==0.15.2
datashape==0.5.2
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.6
distro==1.9.0
Django==5.0.3
django-analytical==3.1.0
django-appconf==1.0.6
django-browser-reload==1.12.1
django-compressor==4.4
django-debug-toolbar==4.3.0
django-environ==0.11.2
django-filter==23.5
django-modelcluster==6.3
django-permissionedforms==0.1
django-redis==5.4.0
django-redisboard==8.4.0
django-taggit==5.0.1
django-tinymce==3.7.1
django-treebeard==4.7.1
django-widget-tweaks==1.5.0
djangorestframework==3.15.1
docopt==0.6.2
draftjs-exporter==5.0.0
et-xmlfile==1.1.0
executing==2.0.1
fastjsonschema==2.19.1
filelock==3.13.1
filetype==1.2.0
frozenlist==1.4.1
fsspec==2024.3.1
greenlet==3.0.3
h11==0.14.0
html5lib==1.1
httpcore==1.0.4
httpx==0.27.0
huggingface-hub==0.21.4
hyperlink==21.0.0
idna==3.6
importlib_metadata==7.1.0
incremental==22.10.0
ipython==8.12.3
jedi==0.19.1
Jinja2==3.1.3
jinja2-time==0.2.0
jmespath==1.0.1
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
l18n==2021.3
laces==0.1.1
langchain==0.1.13
langchain-community==0.0.29
langchain-core==0.1.33
langchain-openai==0.1.1
langchain-text-splitters==0.0.1
langsmith==0.1.31
lazy-object-proxy==1.10.0
llvmlite==0.42.0
locket==1.0.0
MarkupSafe==2.1.5
marshmallow==3.21.1
matplotlib-inline==0.1.6
mistune==3.0.2
mpmath==1.3.0
multidict==6.0.5
multipledispatch==1.0.0
multiprocess==0.70.14
mypy-extensions==1.0.0
nbclient==0.10.0
nbconvert==7.16.3
nbformat==5.10.3
networkx==3.2.1
ninja==1.11.1.1
numba==0.59.1
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.4.99
nvidia-nvtx-cu12==12.1.105
openai==1.14.2
openpyxl==3.1.2
orjson==3.9.15
packaging==23.2
pandas==2.2.1
pandocfilters==1.5.1
param==2.1.0
parso==0.8.3
partd==1.4.1
pathspec==0.12.1
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.2.0
pillow_heif==0.15.0
pipreqs==0.5.0
platformdirs==4.2.0
poyo==0.5.0
prompt-toolkit==3.0.43
psutil==5.9.8
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==15.0.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycodestyle==2.11.1
pycparser==2.21
pyct==0.5.0
pydantic==2.6.4
pydantic_core==2.16.3
pyerfa==2.0.1.1
Pygments==2.17.2
pyOpenSSL==24.1.0
python-dateutil==2.9.0.post0
python-slugify==8.0.4
pytz==2024.1
PyYAML==6.0.1
pyzmq==25.1.2
rcssmin==1.1.1
redis==5.0.3
redisboard==0.0
referencing==0.34.0
regex==2023.12.25
requests==2.31.0
responses==0.18.0
rjsmin==1.2.1
rpds-py==0.18.0
s3transfer==0.10.1
safetensors==0.4.2
scipy==1.12.0
service-identity==24.1.0
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
SQLAlchemy==2.0.29
sqlparse==0.4.4
stack-data==0.6.3
sympy==1.12
tailwind==3.1.5b0
telepath==0.3.1
tenacity==8.2.3
text-unidecode==1.3
tiktoken==0.6.0
tinycss2==1.2.1
toml==0.10.2
toolz==0.12.1
torch==2.2.1
tornado==6.4
tqdm==4.66.2
traitlets==5.14.2
triton==2.2.0
Twisted==24.3.0
txaio==23.1.1
typing-inspect==0.9.0
typing_extensions==4.10.0
tzdata==2024.1
urllib3==1.26.18
wagtail==6.0.1
wagtail-transfer==0.9.4
wcwidth==0.2.13
webencodings==0.5.1
Willow==1.8.0
wrapt==1.16.0
xarray==2024.2.0
xxhash==3.4.1
xyzservices==2023.10.1
yarg==0.1.9
yarl==1.9.4
zipp==3.18.1
zope.interface==6.2
