boto3==1.34.69
botocore==1.34.69
daphne==4.1.0
Django==5.0.3
django-analytical==3.1.0
django-browser-reload==1.12.1
django-compressor==4.4
django-debug-toolbar==4.3.0
django-environ==0.11.2
django-modelcluster==6.3
django-redis==5.4.0
django-redisboard==8.4.0
django-taggit==5.0.1
django-tailwind==3.8.0
django-tinymce==3.7.1
django-widget-tweaks==1.5.0
django-auditlog==3.0.0
django-allauth==0.61.1
django-allauth-ui==0.2.2
langchain==0.1.13
langchain-community==0.0.29
langchain-core==0.1.33
langchain-openai==0.1.1
langchain-text-splitters==0.0.1
langsmith==0.1.31
psycopg2-binary==2.9.9
redis==5.0.3
redisboard==0.0
tailwind==3.1.5b0
wagtail==6.0.1
