{% for item in openai_keys %}
    <div class="flex text-sm leading-4 text-light-text-primary dark:text-dark-text-primary bg-light-bg-primary dark:bg-dark-bg-primary border-t border-light-border-primary dark:border-dark-border-primary">
        <div class="min-w-[200px] max-w-[200px] py-1.5 px-3">
            {{ item.name }}
        </div>
        <div class="min-w-[128px] max-w-[128px] py-1.5 px-3 overflow-hidden whitespace-no-wrap text-overflow ellipsis">
            {% with openai_api_key=item.val1 %}
                {% with openai_api_key|length as total_len %}
                    {% with total_len|add:"-4" as secret_middle %}
                        {{ openai_api_key|slice:":4" }}...{{ openai_api_key|slice:"-4:" }}
                    {% endwith %}
                {% endwith %}
            {% endwith %}
        </div>
        <div class="min-w-[96px] max-w-[128px] py-1.5 px-3 hidden md:block">
            {{ item.create_date|date:"d F Y" }}
        </div>
        <div class="hover:cursor-pointer min-w-[24px] max-w-[24px] max-h-8 py-1.5 px-5" hx-trigger="click" hx-get="{% url 'genai_app:openai_org_api_key_update_view' pk=item.pk %}?provider_type=OPENAI" hx-target="#dialog">
            <svg class="w-6 h-6 text-light-text-primary dark:text-dark-text-primary" aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
            </svg>
        </div>
        <div class="hover:cursor-pointer min-w-[24px] max-w-[24px] max-h-8 py-1.5 px-2" hx-trigger="click" hx-get="{% url 'core:api_keys_remove' pk=item.pk %}?provider_type=OPENAI" hx-target="#dialog">
            <svg class="w-6 h-6 text-light-text-primary dark:text-dark-text-primary" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                 width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
            </svg>
        </div>
    </div>
{% empty %}
    <div class="flex text-sm leading-4 text-light-text-primary dark:text-dark-text-primary bg-light-bg-primary dark:bg-dark-bg-primary border-t border-light-border-primary dark:border-dark-border-primary">
        <div class="py-1.5 px-3">
            Register your first OpenAI API Key.
        </div>
    </div>
{% endfor %}
