{% extends "base_app.html" %}

{% load wagtailcore_tags %}
{% load tz %}
{% block body_class %}template-dashboard{% endblock %}

{% block app_content %}
    <main class="w-full flex flex-col">
        <div class="h-16 bg-light-bg-secondary dark:bg-dark-bg-secondary p-4 fixed top-0 w-full z-10">
            <nav class="flex items-center justify-between flex-wrap">
                <div class="flex items-center flex-shrink-0 mr-6">
                    <span class="font-bold text-xl leading-normal text-light-text-primary dark:text-dark-text-primary">{{ page.title }}</span>
                </div>
                <button @click="open = !open" class="md:hidden">
                    <!-- Menu icon goes here -->
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                              d="M5 7h14M5 12h14M5 17h14"/>
                    </svg>

                </button>
            </nav>
        </div>
        <div class="flex flex-col mt-16 overscroll-none">
            <span class="px-4 mt-4 font-semibold text-base text-light-text-secondary dark:text-dark-text-secondary leading-normal">{{ page.intro|richtext }}</span>
            <section
                    class="h-screen-minus-8rem shadow-xl py-2 px-4 bg-light-bg-secondary dark:bg-dark-bg-secondary rounded-lg m-4 ">
                <div class="px-2 flex text-sm font-bold leading-4 text-light-text-primary dark:text-dark-text-primary">
                    <div class="hidden md:block min-w-[128px] max-w-[128px] max-h-8 py-1.5 px-3">Created</div>
                    <div class="flex-grow max-h-8 py-1.5 px-3"></div>
                    <div class="hidden md:block min-w-[96px] max-w-[96px] max-h-8 py-1.5 px-3">Mentor</div>
                    <div class="min-w-[48px] max-w-[48px] max-h-8 py-1.5 px-3"></div>
                </div>

                <div id="mentor_session" class="overflow-y-auto overscroll-none h-parent-minus-2">
                    {% for item in mentor_session %}
                        <div class="flex p-2 text-sm leading-4 text-light-text-primary dark:text-dark-text-primary bg-light-bg-primary dark:bg-dark-bg-primary border-t border-light-border-primary dark:border-dark-border-primary">
                            <div class="hidden md:block min-w-[128px] max-w-[128px] min-h-14 max-h-14 py-1.5 px-3"
                                 x-data
                                 x-init="setTimeout(() => $refs.span.innerText = new Date({{ item.create_date }} * 1000).toLocaleString())">
                                <span x-ref="span"></span>
                            </div>
                            <div class="dark:border-dark-border-primary flex-grow min-h-14 max-h-14 py-1.5 px-3 overflow-hidden whitespace-no-wrap text-overflow ellipsis">{{ item.runnable_output|richtext }}</div>
                            <div class="hidden md:block dark:border-dark-border-primary min-w-[96px] max-w-[96px] min-h-14 max-h-14 py-1.5 px-3">{{ item.page_title }}</div>
                            <div class="dark:border-dark-border-primary min-w-[48px] max-w-[48px] min-h-14 max-h-14 py-1.5 px-3">
                                <a href="{{ item.mentor_url }}" class="no-underline">
                                    <svg class="w-6 h-6 text-light-text-primary dark:text-dark-text-primary"
                                         aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                              stroke-width="2"
                                              d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </main>

{% endblock %}
