{% extends "base_app.html" %}

{% load wagtailcore_tags %}
{% load widget_tweaks %}

{% block body_class %}template-dashboard{% endblock %}

{% block app_content %}
    <main class="w-full flex flex-col"
          x-data="{ 'showLLMConfig': false, 'showHistory': false, max_tokens: 4096, temperature: 0, top_k: 250, top_p: 1 }"
          @keydown.escape="showLLMConfig = false; showHistory = false">
        <div class="h-16 bg-light-bg-secondary dark:bg-dark-bg-secondary p-4 fixed top-0 w-full z-10">
            <nav class="flex items-center justify-start flex-wrap space-x-4">
                <span class="font-bold text-xl leading-normal text-light-text-primary dark:text-dark-text-primary">{{ page.title }}</span>
                <div class="ml-auto flex space-x-4 justify-end">
                    <button type="button" @click="showLLMConfig = true" class="format lg:format-lg dark:format-invert">
                        Configurations
                    </button>
                    <button type="button" @click="showHistory = true" class="format lg:format-lg dark:format-invert">
                        History
                    </button>
                    <button @click="open = !open" class="md:hidden">
                        <!-- Menu icon goes here -->
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                                  d="M5 7h14M5 12h14M5 17h14"/>
                        </svg>

                    </button>
                </div>
            </nav>
        </div>

        <div class="h-screen flex flex-col mt-16 overflow-hidden">
            <section class="overflow-y-auto">
                <div class="grid md:grid-cols-5 grid-cols-1 gap-4 md:grid-rows-1">
                    <div class="md:col-span-3 md:row-start-1 row-start-2 col-span-1 max-w-full m-4 flex flex-col">
                        <form id="input_form"
                              class="flex flex-col flex-shrink-0 py-4 px-4 space-y-4 bg-light-bg-secondary dark:bg-dark-bg-secondary rounded-lg shadow-xl"
                              hx-post="{% pageurl page %}?openId={{ open_id }}"
                              hx-swap="multi:#mentor_response_textarea:outerHTML,#mentor_session_history">

                            {% for field in form %}
                                <h3><label for="{{ field.auto_id }}"
                                           class="format lg:format-lg dark:format-invert">{{ field.label }}</label>
                                </h3>
                                {% render_field field class="w-full text-light-text-primary dark:text-dark-text-primary bg-light-bg-primary dark:bg-dark-bg-primary focus:ring-primary-500 focus:border-primary-500" %}
                                {% if field.errors %}
                                    <ul class="mt-2 text-sm text-red-600">
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endfor %}
                            {% csrf_token %}
                            <input id="max_tokens" name="max_tokens" type="hidden" x-bind:value="max_tokens"/>
                            <input id="temperature" name="temperature" type="hidden" x-bind:value="temperature"/>
                            <input id="top_k" name="top_k" type="hidden" x-bind:value="top_k"/>
                            <input id="top_p" name="top_p" type="hidden" x-bind:value="top_p"/>
                            <button class="max-w-xs text-white bg-primary-700  hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
                                    type="Submit">Submit
                            </button>
                        </form>
                        <div class="mt-4 text-black flex-grow py-4 px-4 bg-light-bg-secondary dark:bg-dark-bg-secondary rounded-lg shadow-xl">
                            {% if runnable_output %}
                                <textarea id="mentor_response_textarea"
                                          class="w-full md:h-full min-h-64 text-light-text-primary dark:text-dark-text-primary bg-light-bg-primary dark:bg-dark-bg-primary focus:ring-primary-500 focus:border-primary-500">
                                {{ runnable_output }}
                            </textarea>
                            {% else %}
                                <textarea id="mentor_response_textarea"
                                          class="w-full md:h-full min-h-64 text-light-text-primary dark:text-dark-text-primary bg-light-bg-primary dark:bg-dark-bg-primary focus:ring-primary-500 focus:border-primary-500">
                                Output will appear here...
                            </textarea>
                            {% endif %}
                        </div>
                    </div>
                    <div class="md:col-span-2 col-span-1 m-4 format lg:format-lg dark:format-invert">
                        {{ page.body }}
                    </div>
                </div>
                <div x-cloak x-show="showHistory"
                     class="fixed inset-0 z-30 flex items-center justify-center bg-opacity-50 text-sm text-left bg-gray-700 text-black">
                    <div class="w-4/5 h-4/5 overflow-auto p-4 bg-light-bg-secondary dark:bg-dark-bg-secondary rounded-lg">
                        <div id="mentor_session_history" class="flex flex-col space-y-1 w-full"
                             hx-get="{{ request.get_full_path }}&view=history_view" hx-trigger="load"
                             @click.away="showHistory = false">
                            <span>No History</span>
                        </div>
                    </div>
                </div>
            </section>
            <div x-cloak
                 class="fixed inset-0 z-30 flex items-center justify-center overflow-auto bg-opacity-50"
                 x-show="showLLMConfig"
            >
                <div
                        class="format lg:format-lg dark:format-invert max-w-3xl px-6 py-4 mx-auto text-left rounded shadow-lg bg-gray-900 dark:bg-gray-800"
                        @click.away="showLLMConfig = false"
                        x-transition:enter="motion-safe:ease-out duration-300"
                        x-transition:enter-start="opacity-0 scale-90"
                        x-transition:enter-end="opacity-100 scale-100"
                >
                    <div class="flex items-center justify-between dark:bg-gray-700 p-2 rounded">
                        <h5 class="mr-3 max-w-none">Configurations</h5>

                        <button type="button" class="z-50 cursor-pointer" @click="showLLMConfig = false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M6 18L18 6M6 6l12 12"/>
                            </svg>
                        </button>
                    </div>
                    <div class="flex flex-col space-y-4 mt-2 dark:bg-gray-700 p-2 rounded">
                        <div>
                            <span class="text-sm">Randomness and diversity</span>
                        </div>
                        {% include 'snippets/input_number.html' with group_id='user_max_tokens' label_text='Max tokens' x_data_var='max_tokens' x_data_min=1 x_data_max=4096 %}
                        {% include 'snippets/input_decimal.html' with group_id='user_temperature' label_text='Temperature' x_data_var='temperature' x_data_min=0.0 x_data_max=1.0 x_data_decimals=1 %}
                        {% include 'snippets/input_number.html' with group_id='user_top_k' label_text='Top K' x_data_var='top_k' x_data_min=0 x_data_max=500 %}
                        {% include 'snippets/input_decimal.html' with group_id='user_top_p' label_text='Top P' x_data_var='top_p' x_data_min=0.0 x_data_max=1.0 x_data_decimals=3 %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
