{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block extra_head %}
    <style>
        [x-cloak] {
            display: none !important;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="md:flex h-screen"
         x-data="{ open: false, isMdScreen: window.innerWidth >= 768 }" x-cloak
         x-init="$watch('isMdScreen', newValue => { if(newValue) open = false; })"
         x-on:resize.window.debounce.100ms="isMdScreen = window.innerWidth >= 768"
         :hx-boost="isMdScreen ? 'true' : 'false'">
        <!-- Sidebar / Navigation -->
        <div id="sideMenu" x-show="open || isMdScreen"
             class="p-4 fixed z-20 inset-0 md:relative md:z-10 md:inset-auto md:w-64 bg-light-bg-secondary dark:bg-dark-bg-secondary border-r-2 border-light-bg-primary dark:border-dark-bg-primary">
            <nav class="flex flex-col text-light-text-primary dark:text-dark-text-primary">
                <!-- Icon source: https://flowbite.com/icons/ -->
                <div class="flex justify-between">
                    <span class="text-2xl font-bold">MentiLead</span>
                    <button @click="open = false" class="md:hidden">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="m15 9-6 6m0-6 6 6m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                        </svg>
                    </button>
                </div>
                <div class="flex flex-col space-y-2 mt-6">
                    <div class="flex space-x-1">
                        <svg class="w-6 h-6 text-primary-500 dark:text-primary-500" aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5"/>
                        </svg>
                        {% slugurl 'home' as home_url %}
                        <a @click="open = false" href="{{ home_url }}"
                           class="{% if request.path == home_url %}font-extrabold{% endif %}">Home</a>
                    </div>
                    <div class="flex space-x-1">
                        <svg class="w-6 h-6 text-primary-500 dark:text-primary-500" aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                                  d="M16 19h4a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-2m-2.236-4a3 3 0 1 0 0-4M3 18v-1a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1Zm8-10a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                        </svg>
                        {% slugurl 'mentors' as mentors_url %}
                        <a @click="open = false" href="{{ mentors_url }}"
                           class="{% if request.path == mentors_url %}font-extrabold{% endif %}">Mentors</a>
                    </div>
                    <div class="flex space-x-1">
                        <svg class="w-6 h-6 text-primary-500 dark:text-primary-500" aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="m12 18-7 3 7-18 7 18-7-3Zm0 0v-5"/>
                        </svg>
                        {% url 'core:organization' as organization_url %}
                        <a @click="open = false" href="{{ organization_url }}"
                           class="{% if request.path == organization_url %}font-extrabold{% endif %}">Organization</a>
                    </div>
                    <div class="flex space-x-1">
                        <svg class="w-6 h-6 text-primary-500 dark:text-primary-500" aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M12 18.5A2.493 2.493 0 0 1 7.51 20H7.5a2.468 2.468 0 0 1-2.4-3.154 2.98 2.98 0 0 1-.85-5.274 2.468 2.468 0 0 1 .92-3.182 2.477 2.477 0 0 1 1.876-3.344 2.5 2.5 0 0 1 3.41-1.856A2.5 2.5 0 0 1 12 5.5m0 13v-13m0 13a2.493 2.493 0 0 0 4.49 1.5h.01a2.468 2.468 0 0 0 2.403-3.154 2.98 2.98 0 0 0 .847-5.274 2.468 2.468 0 0 0-.921-3.182 2.477 2.477 0 0 0-1.875-3.344A2.5 2.5 0 0 0 14.5 3 2.5 2.5 0 0 0 12 5.5m-8 5a2.5 2.5 0 0 1 3.48-2.3m-.28 8.551a3 3 0 0 1-2.953-5.185M20 10.5a2.5 2.5 0 0 0-3.481-2.3m.28 8.551a3 3 0 0 0 2.954-5.185"/>
                        </svg>
                        {% url 'core:api_keys' as api_keys_url %}
                        <a @click="open = false" href="{{ api_keys_url }}"
                           class="{% if request.path == api_keys_url %}font-extrabold{% endif %}">GenAI Providers</a>
                    </div>
                </div>
            </nav>
        </div>

        {% block app_content %}{% endblock %}
    </div>

{% endblock %}